.search-container {
    position: relative;
    width: 100%;
}

.searchbar {
    color: black;
    width: 100%;
    height: 4rem;
    padding: 1rem;

    font-size: 1.5rem;

    border: none;
    border-radius: 0 0 0.5rem 0.5rem;
    box-shadow: 0 0.3rem rgba(0,0,0,0.3);

    opacity: 0.8;
}